.card{
 
    background-color: white;
    border: 1px solid black; 
    border-radius: .5rem;
    padding: .5rem;



} 

.form-group{
    display: flex;
    flex-direction: column;
    gap: .25rem; 
    margin-bottom: .5rem;
}  

.form-group > label{ 
    font-family: sans-serif;
    font-weight: bold;
    font-size: .8em;

}  


.form-group > input{
border: 1px solid grey; 
border-radius: .25rem;
font-size: 1rem; 
padding: .25em;
}  


